apiVersion: v1
kind: Secret
metadata:
  name: eso-sp-credentials
  namespace: external-secrets
type: Opaque
stringData:
  client-id: "PLACEHOLDER_CLIENT_ID"
  client-secret: "PLACEHOLDER_CLIENT_SECRET" # pragma: allowlist secret
